@use 'src/styles/functions';
@use 'src/styles/variables';

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(white, 0.4);
  backdrop-filter: blur(20px);
}

.navbar {
  padding: 1rem;
  height: functions.convertPxToRem(70);
  box-shadow: 0 2px 8px #f0f1f2;
}

.navbar__layout {
  display: flex;
  align-items: center;
}

.navbar__logo {
  // FIXME:
  // img {
  //   max-width: 15%;
  //   margin-right: 0.5rem;
  // }

  .display-xs-none {
    @media screen and (max-width: variables.$nz-sm) {
      display: none;
    }
  }
}

.navbar__link {
  color: black;
  font-weight: 500;
}

.navbar__link--active {
  color: var(--nz-blue);
}

.navbar__layout-spacer {
  flex: 1;
}

.navbar__horizontal-menu {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: variables.$nz-md) {
    display: none;
  }
}

.navbar__horizontal-menu-link {
  padding: 0.5rem 1rem;

  &:hover {
    background: rgb(248 250 252);
  }
}

/*
The responsive menu and its toggle button 
are only visible on small and medium viewport
*/
.navbar__responsive-menu-toggle,
.responsive-menu {
  display: none;

  @media screen and (max-width: variables.$nz-md) {
    display: block;
  }
}
