<header class="container">
  <nav class="navbar" nz-row>
    <div
      class="content"
      nz-col
      [nzXs]="{ span: 22, offset: 1 }"
      [nzSm]="{ span: 22, offset: 1 }"
      [nzMd]="{ span: 22, offset: 1 }"
      [nzLg]="{ span: 20, offset: 2 }"
      [nzXl]="{ span: 18, offset: 3 }"
      [nzXXl]="{ span: 12, offset: 6 }"
    >
      <div class="logo">
        <a routerLink="/">
          <!-- FIXME: -->
          <!-- <img src="assets/img/brandings/ducky-512.png" alt="logo" /> -->

          <span
            >Anh Tung Bui
            <span class="display-xs-none">· Web Developer</span>
          </span>
        </a>
      </div>

      <div class="spacer"></div>

      <!-- LINKS -->
      <div class="link-container">
        <a class="link" href="/#" [class.active-link]="!fragment"> Home </a>
        <a class="link" href="#about" [class.active-link]="fragment === 'about'">About</a>
        <a class="link" href="#projects" [class.active-link]="fragment === 'projects'">Projects</a>
        <!-- <a class="link" routerLink="/projects" routerLinkActive="active-link">Contact</a> -->
        <a class="link" href="/assets/pdf/CV_Web_Developer_Anh_Tung_Bui.pdf" target="_blank">
          CV
        </a>
        <!-- <a class="link" routerLink="/blog" routerLinkActive="active-link">Blog</a> -->
      </div>

      <!-- DROPDOWN -->
      <button
        class="link-container-dropdown"
        nz-button
        nzType="link"
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzPlacement="bottomRight"
      >
        <span nz-icon nzType="menu" nzTheme="outline"></span>
        Menu
      </button>

      <nz-dropdown-menu class="dropdown-menu" #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="onScrollToFragment('#')">
            <a class="link" href="/#" [class.active-link]="!fragment"> Home </a>
          </li>
          <li nz-menu-item (click)="onScrollToFragment('#about')">
            <a class="link" href="#about" [class.active-link]="fragment === 'about'">About</a>
          </li>
          <li nz-menu-item (click)="onScrollToFragment('#projects')">
            <a class="link" href="#projects" [class.active-link]="fragment === 'projects'"
              >Projects</a
            >
          </li>
          <li nz-menu-item nzDanger>
            <a class="link" href="/assets/pdf/CV_Web_Developer_Anh_Tung_Bui.pdf" target="_blank">
              CV
            </a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nav>
</header>
