@use 'src/styles/functions';

.navbar {
  padding: 1rem;
  height: functions.convertPxToRem(70);
  display: flex;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  max-height: 100%;

  a {
    color: black;
    font-weight: 500;
  }

  img {
    max-height: 100%;
    margin-right: 0.5rem;
  }
}

.spacer {
  flex: 1;
}

.link-container {
  display: flex;
  align-items: center;

  .link {
    color: black;
    font-weight: 500;
    padding: 0.5rem 1rem;

    &:hover {
      background: rgb(248 250 252);
    }
  }

  .active-link {
    color: var(--nz-blue);
  }
}
