.about {
  padding: 5rem 0;
}

.about__heading {
  text-align: center;
  padding: 0 0 1rem 0;
}

.about__avatar {
  text-align: center;
  padding-bottom: 2rem;
}

.about__title {
  padding-top: 1rem;
}

.about__description {
  color: var(--nz-gray);
}
