<app-header></app-header>

<section class="container">
  <h1 class="heading">About me</h1>

  <!-- AVATAR -->
  <div class="avatar-container">
    <nz-avatar nzIcon="user" nzSrc="assets/img/personal-avatar.jpeg" [nzSize]="200"></nz-avatar>

    <h2 class="subheading">Hi, I'm Anh Tung (Anton) 👋</h2>
    <p class="text-bio">I love programming and I'm a lifelong learner</p>
  </div>

  <nz-timeline nzMode="alternate" [nzPending]="'Never settle. Never stop learning 🎯'">
    <nz-timeline-item [nzDot]="dotTemplate">
      <p>Sep 2013</p>
      <p>Graduated Business school <b>with honors</b>🎖</p>
    </nz-timeline-item>

    <nz-timeline-item nzColor="green">
      <p>Worked in <b>Digital Marketing</b> industry 🤓</p>
    </nz-timeline-item>

    <nz-timeline-item [nzDot]="dotTemplate">
      <p>Sep 2018</p>
      <p>Tried to learn coding online for the <b>first time</b> 😱</p>
    </nz-timeline-item>

    <nz-timeline-item nzColor="green">
      <p>Kept building mini applications in <b>JavaScript</b> 🔥</p>
    </nz-timeline-item>

    <nz-timeline-item [nzDot]="dotTemplate">
      <p>March 2020</p>
      <p>Decided to <b>switch career</b> and join Digital Career Institute 🛠</p>
    </nz-timeline-item>

    <nz-timeline-item nzColor="red">
      <p>Eat, sleep, code for <b>12+ hours per day</b></p>
      <p>Repeat for more than a year 💻</p>
    </nz-timeline-item>

    <nz-timeline-item [nzDot]="dotTemplate">
      <p>August 2020</p>
      <p><b>Web Development Tutor</b> at Digital Career Institute gGmbH</p>
    </nz-timeline-item>

    <nz-timeline-item nzColor="green">
      Became certified Web Developer <b>in Germany</b> 🇩🇪
    </nz-timeline-item>

    <nz-timeline-item [nzDot]="dotTemplate">
      <p>March 2021</p>
      <p><b>Frontend Developer</b> at nextmarkets AG 🌈</p>
    </nz-timeline-item>
  </nz-timeline>

  <ng-template #dotTemplate>
    <span nz-icon nzType="clock-circle-o" style="font-size: 16px"></span>
  </ng-template>
</section>
