.container {
  padding: 5% 10%;
}

.heading {
  text-align: center;
  padding: 0 0 1rem 0;
}

.avatar-container {
  text-align: center;
  padding-bottom: 2rem;

  .subheading {
    padding-top: 1rem;
  }

  .text-bio {
    color: var(--nz-gray);
  }
}
