<div class="container" nz-row>
  <!-- CONTENT LEFT -->
  <div class="content-left" nz-col nzSpan="12">
    <h1>Hi, I'm Anh Tung Bui 👋</h1>
    <h2>I love building web apps<span class="blinking-cursor">|</span></h2>

    <nz-tag nzColor="#108ee9">JavaScript</nz-tag>
    <nz-tag nzColor="#108ee9">TypeScript</nz-tag>
    <nz-tag nzColor="#108ee9">Angular</nz-tag>
    <nz-tag nzColor="#108ee9">Node.js</nz-tag>
  </div>

  <!-- CONTENT RIGHT -->
  <div class="content-right" nz-col nzSpan="12">
    <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"> </ng-lottie>
  </div>
</div>
