@use 'src/styles/variables';

.hero {
  padding: 10rem 0;

  @media screen and (max-width: variables.$nz-sm) {
    padding: 3rem 0;
  }
}

.hero__texts {
  padding-top: 5rem;
}

.hero__heading {
  color: var(--nz-blue);
}

.hero__subheading {
  font-size: 4rem;
  line-height: 1.1;

  @media screen and (max-width: variables.$nz-sm) {
    font-size: 3rem;
  }
}

.hero__blinking-cursor {
  color: var(--nz-blue);
  animation: blink 2s infinite;
}

.hero__cta {
  padding-top: 1rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
