<section class="hero" nz-row>
  <!-- CONTENT LEFT -->
  <div
    class="hero__texts"
    nz-col
    nzSpan="12"
    [nzXs]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzMd]="{ span: 24 }"
    [nzLg]="{ span: 12 }"
  >
    <h1 class="hero__heading">Hi, I'm Anh Tung (Anton) 👋</h1>
    <h2 class="hero__subheading">
      I love building web apps<span class="hero__blinking-cursor">|</span>
    </h2>

    <div class="hero__tags">
      <nz-tag nzColor="#9e9e9e">JavaScript</nz-tag>
      <nz-tag nzColor="#9e9e9e">TypeScript</nz-tag>
      <nz-tag nzColor="#9e9e9e">Angular</nz-tag>
      <nz-tag nzColor="#9e9e9e">Node.js</nz-tag>
    </div>

    <div class="hero__cta">
      <button nz-button nzType="primary">
        <a href="/#projects">
          <span nz-icon nzType="star" nzTheme="outline"></span>
          View Projects
        </a>
      </button>
    </div>
  </div>

  <!-- CONTENT RIGHT -->
  <div
    class="hero__illustration"
    nz-col
    [nzXs]="{ span: 24 }"
    [nzSm]="{ span: 20 }"
    [nzMd]="{ span: 16 }"
    [nzLg]="{ span: 12 }"
  >
    <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"> </ng-lottie>
  </div>
</section>
