<section class="hero" nz-row>
  <!-- CONTENT LEFT -->
  <div
    class="hero__texts"
    nz-col
    nzSpan="12"
    [nzXs]="{ span: 24 }"
    [nzSm]="{ span: 24 }"
    [nzMd]="{ span: 24 }"
    [nzLg]="{ span: 12 }"
  >
    <h1 class="hero__heading">Hi, I'm Anh Tung (Anton) 👋</h1>
    <h2 class="hero__subheading">
      I love building web apps<span class="hero__blinking-cursor">|</span>
    </h2>

    <p class="hero__summary">
      A passionate Developer with more than 2 years of professional experience.
    </p>
    <p class="hero__summary">Specializing in building rich, interative and modern web apps.</p>
    <p class="hero__summary">Based in Cologne, Germany.</p>

    <div class="hero__tags">
      <app-tag>JavaScript</app-tag>
      <app-tag>TypeScript</app-tag>
      <app-tag>Angular</app-tag>
      <app-tag>Node.js</app-tag>
    </div>

    <div class="hero__cta">
      <button nz-button nzType="primary">
        <a href="/#projects">
          <span nz-icon nzType="star" nzTheme="outline"></span>
          View Projects
        </a>
      </button>
    </div>
  </div>

  <!-- CONTENT RIGHT -->
  <div
    class="hero__illustration"
    nz-col
    [nzXs]="{ span: 24 }"
    [nzSm]="{ span: 20 }"
    [nzMd]="{ span: 16 }"
    [nzLg]="{ span: 12 }"
  >
    <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"> </ng-lottie>
  </div>
</section>
