<nz-list nzSize="small">
  <nz-list-item (click)="onSelect('#')">
    <a class="link" href="/#" [class.active-link]="!fragment"> Home </a>
  </nz-list-item>
  <nz-list-item (click)="onSelect('about')">
    <a class="link" href="#about" [class.active-link]="fragment === 'about'">About</a>
  </nz-list-item>
  <nz-list-item (click)="onSelect('#')">
    <a class="link" href="#projects" [class.active-link]="fragment === 'projects'"> Projects </a>
  </nz-list-item>
  <nz-list-item>
    <a class="link" href="/assets/pdf/CV_Web_Developer_Anh_Tung_Bui.pdf" target="_blank"> CV </a>
  </nz-list-item>
</nz-list>
