<footer class="container">
  <div class="content" nzRow>
    <div
      class="layout"
      nz-col
      [nzXs]="{ span: 22, offset: 1 }"
      [nzSm]="{ span: 22, offset: 1 }"
      [nzMd]="{ span: 22, offset: 1 }"
      [nzLg]="{ span: 20, offset: 2 }"
      [nzXl]="{ span: 18, offset: 3 }"
      [nzXXl]="{ span: 12, offset: 6 }"
    >
      <!-- FOOTER-TOP -->
      <div class="footer-top" nzRow>
        <div
          class="content-left"
          nz-col
          [nzXs]="{ span: 12, offset: 4 }"
          [nzXl]="{ span: 10, offset: 4 }"
        >
          <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"> </ng-lottie>
        </div>

        <div class="content-right" nz-col [nzXl]="{ offset: 1 }">
          <h3 class="cta-heading">Contact me</h3>

          <!-- ICONS -->
          <div class="links-container">
            <a class="link" href="mailto:anhtung.bui@gmail.com">
              <span nz-icon nzType="mail" nzTheme="outline" style="font-size: 22px"></span>
              Email
            </a>

            <a class="link" href="https://www.linkedin.com/in/anhtungbui">
              <span nz-icon nzType="linkedin" nzTheme="fill" style="font-size: 22px"></span>
              LinkedIn
            </a>

            <a class="link" href="https://github.com/anhtungbui">
              <span nz-icon nzType="github" nzTheme="fill" style="font-size: 22px"></span>
              GitHub
            </a>
          </div>
        </div>
      </div>
      <!-- End of FOOTER-TOP -->

      <!-- FOOTER-BOTTOM -->
      <div class="footer-bottom credits">
        <p>Made with ❤ from Germany 🇩🇪</p>
      </div>
    </div>
  </div>
</footer>
