<footer class="container">
  <div class="content" nz-row>
    <div class="content-left" nz-col [nzSpan]="6" nzOffset="2"></div>

    <div class="content-right" nz-col>
      <h3 class="cta-heading">Contact me</h3>

      <!-- ICONS -->
      <div class="links-container">
        <a class="link" href="mailto:anhtung.bui@gmail.com">
          <span nz-icon nzType="mail" nzTheme="outline" style="font-size: 22px"></span>
          Email
        </a>

        <a class="link" href="https://www.linkedin.com/in/anhtungbui">
          <span nz-icon nzType="linkedin" nzTheme="fill" style="font-size: 22px"></span>
          LinkedIn
        </a>

        <a class="link" href="https://github.com/anhtungbui">
          <span nz-icon nzType="github" nzTheme="fill" style="font-size: 22px"></span>
          GitHub
        </a>
      </div>
    </div>
  </div>

  <div class="credits">
    <p>Made with ❤ from Germany 🇩🇪</p>
  </div>
</footer>
