.footer {
  background: black;
}

.footer__top {
  display: flex;
  align-items: center;
  height: 20rem;
}

.footer__top-left {
  height: 100%;
}

.footer__heading {
  color: white;
  margin-bottom: 1.5rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--nz-gray-lighter);

  &:hover {
    color: white;
  }
}

.footer__bottom {
  text-align: center;
  color: var(--nz-gray);
}

.footer__credits {
  border-top: 1px solid #515151;
  margin: 0 10%;
  padding: 1rem;
}
