<ng-container *ngIf="project; else isLoading">
  <!-- CARD -->
  <nz-card nzHoverable [nzCover]="coverTemplate" (click)="onOpenModal(project)">
    <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
  </nz-card>

  <!-- SCREENSHOT -->
  <ng-template #coverTemplate>
    <img alt="example" src="{{ project.screenshot }}" />
  </ng-template>

  <ng-template #titleTemplate>
    <div class="card-title">
      <h2>{{ project.title }}</h2>

      <span>
        <!-- LIVE DEMO -->
        <button
          *ngIf="project.hasLiveDemo && project.liveDemoUrl"
          nz-button
          nzType="primary"
          (click)="onRedirect(project.liveDemoUrl)"
        >
          Live demo
        </button>

        <!-- SEE CODE -->
        <button
          *ngIf="project.isSourceCodeAvailable && project.sourceCodeUrl"
          nz-button
          nzType="default"
          (click)="onRedirect(project.sourceCodeUrl)"
        >
          See code
        </button>
      </span>
    </div>
  </ng-template>

  <ng-template #descriptionTemplate>
    <!-- DESCRIPTION -->
    <p>{{ project.description }}</p>

    <!-- TECHNOLOGIES -->
    <div>
      <app-tag *ngFor="let technology of project.technologies">
        {{ technology }}
      </app-tag>
    </div>

    <!-- LEARN MORE -->
    <a [routerLink]="['/projects', project.title.toLowerCase()]">Learn more</a>
  </ng-template>
  <!-- End of CARD -->
</ng-container>

<!-- TODO: Use global spinner -->
<ng-template #isLoading>
  <nz-card [nzLoading]="true"></nz-card>
</ng-template>

<nz-modal
  [(nzVisible)]="modalState.isVisble"
  nzTitle="{{ modalState.title }}"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  nzWidth
>
  <ng-container *nzModalContent>
    <img class="screenshot" src="{{ modalState.screenshot }}" alt="screenshot" />
  </ng-container>

  <ng-template #modalFooter>
    <!-- LIVE DEMO -->
    <button
      *ngIf="modalState.hasLiveDemo && modalState.liveDemoUrl"
      nz-button
      nzType="primary"
      (click)="onRedirect(modalState.liveDemoUrl)"
    >
      Live demo
    </button>

    <!-- SEE CODE -->
    <button
      *ngIf="modalState.isSourceCodeAvailable && modalState.sourceCodeUrl"
      nz-button
      nzType="default"
      (click)="onRedirect(modalState.sourceCodeUrl)"
    >
      See code
    </button>
  </ng-template>
</nz-modal>
