<div class="window">
  <div class="window-titlebar">
    <span class="window-buttons">
      <span class="window-button window-button-close"></span>
      <span class="window-button window-button-hide"></span>
      <span class="window-button window-button-full"></span>
    </span>
    <span class="window-title"></span>
  </div>
  <div class="window-content">
    <div class="text-typed text-white pt-4 pl-3"></div>
    <div class="hero__cta">
      <div>
        <a class="btn btn-teal font-weight-bold mr-2" routerLink="/projects">
          <div>View Projects</div>
        </a>
      </div>
      <div>
        <a class="btn btn-outline-light font-weight-bold mr-2" routerLink="/about"> About me </a>
      </div>
    </div>
  </div>
</div>
