.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; // This will make sure that the viewport is always blocked even when scrolling
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.4);
  backdrop-filter: blur(20px);
}
