<!-- LOADER -->
<app-loader *ngIf="isLoading"></app-loader>

<!-- CONTENT -->
<app-header></app-header>

<main class="container" nz-row>
  <div
    nz-col
    [nzXs]="{ span: 22, offset: 1 }"
    [nzSm]="{ span: 22, offset: 1 }"
    [nzMd]="{ span: 22, offset: 1 }"
    [nzLg]="{ span: 20, offset: 2 }"
    [nzXl]="{ span: 18, offset: 3 }"
    [nzXXl]="{ span: 12, offset: 6 }"
  >
    <app-hero></app-hero>

    <nz-divider></nz-divider>

    <app-about></app-about>

    <nz-divider></nz-divider>

    <app-project-list></app-project-list>
  </div>
</main>

<app-footer></app-footer>
